{% extends "../layouts/default.twig" %}

{% block content %}
<div class="container">
	<div class = "content">
		<h2 class = "section">DOWNLOADS</h2>
		<p> Suspendisse potenti. Aliquam eget ligula nulla. Curabitur quis turpis sapien. Nullam congue laoreet pellentesque. Etiam ullamcorper eleifend sem, ultrices vulputate diam rhoncus a. Phasellus non mauris viverra, efficitur orci ac, feugiat magna. Mauris dictum vulputate odio ut pulvinar. Aenean dapibus faucibus ante eu sagittis. Donec faucibus sapien non tortor euismod, ac facilisis nibh rhoncus. Quisque sit amet posuere felis. Vestibulum vel augue a augue rutrum placerat vel vel est. Morbi at viverra nunc. Proin mi quam, egestas et metus sit amet, cursus tempor lectus. Aenean tempor velit ornare ligula fringilla ullamcorper. </p>
	</div>
</div>
{% endblock %}

{% block css %}
{% endblock %}
