{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		{% for project in data.projects.results %}
			<div class="project" data-ks-editable="editable(user, { list: 'Post', id: post.id })">
				<h2>
					{{ project.title }}
				</h2>
					{% if project.publishedDate %}
            <p class="lead text-muted">Posted on {{ project._.publishedDate.format("MMMM Do, YYYY") }}</p>
					{% endif %}
				{% if post.image.exists %}
					<img src="{{ post._.image.fit(160,160) }}" class="img pull-right">
				{% endif %}
          {{ project.content }}
				</div>
			{% endfor %}

		<div class="project">
		<h2 class="section">RESEARCH</h2>
	</div>
</div>
{% endblock %}
